/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

body {
    overflow-x: hidden;
    font-family: sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-container {
    display: flex;
    background-color: #1F2937;
    height: 52px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    margin: 0px 30px;
}

.header-container ul {
    display: flex;
    margin: 0px 30px;
}

.header-container ul li {
    color: white;
    margin: 0px 20px;
}

.content-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex: 1 0 auto;
}

.center-container {
    padding: 100px 100px;
    height: 100vh;
    display: flex;
    margin: auto 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.central-column-container {
    flex: 1;
    color: white;
}


.main-text {
    margin: 10px;
    font-size: 48px;
}

.secondary-text {
    font-size: 18px;
    margin: 10px;

}

.signup {
    color: white;
    border: none;
    margin: 10px;
    height: 30px;
    width: 100px;
    border-radius: 0.3rem;
    background-color: #3882F6;
}

.center-container img {
    display: flex;
    flex: 1;
    max-width: 450px;
    height: 200px;
}
.add-info {
    padding: 20px;
    text-align: center;
}
.info-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.box-container {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    max-width: 250px;
    margin: 5px;
}

.box {
    border: 3px solid blue;
    border-radius: 0.5rem;
    height: 100px;
    width: 100px;
}

.qoute-container {
    padding: 100px 100px;
    background-color: #E5E7EB;
    text-align: center;
}

.call-container {
    border-radius: 0.2rem;
    margin: 100px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    background-color: #1F2937;
}
.call-text-container {
    margin: 15px;
}

.call-text-container p {
    margin: 8px;
}

.call-container button {
    border-radius: 0.2rem;
    color: white;
    background-color: #1F2937;
}

.footer-section {
    color: white;
    background-color: #1F2937;
    text-align: center;
    padding: 10px;
}